In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20221016', periods=6)
dates

DatetimeIndex(['2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
               '2022-10-20', '2022-10-21'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 날짜 생성 함수

In [3]:
df = pd.DataFrame(np.random.randn(6,4), index= dates, columns=['a','b','c','d'])
df

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-18  0.030693 -1.597041  1.101697 -0.880073
2022-10-19 -0.479214 -1.074528  0.341792 -0.826257
2022-10-20  1.189338  0.531700 -0.020555  0.387701
2022-10-21 -1.623308  1.510665  1.131091  1.535374

In [ ]:
# random 변수를 통해 dataFrame 생성 values : random 변수/ index : 행 / columns : 열

In [ ]:
# 데이터 확인

In [4]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.index

DatetimeIndex(['2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19',
               '2022-10-20', '2022-10-21'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df.values

array([[ 1.7522535 , -1.45367887, -0.80132082,  0.10950874],
       [ 1.37999809,  0.54169289,  0.37642289, -0.41392863],
       [ 0.03069284, -1.59704073,  1.10169718, -0.88007302],
       [-0.47921402, -1.07452811,  0.34179203, -0.82625748],
       [ 1.18933797,  0.5317    , -0.02055494,  0.38770053],
       [-1.62330779,  1.51066505,  1.131091  ,  1.53537377]])

In [ ]:
#정렬 기능 등의 기초 활용 함수

In [7]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.374960 -0.256865  0.354855 -0.014613
std    1.297032  1.286911  0.726447  0.910710
min   -1.623308 -1.597041 -0.801321 -0.880073
25%   -0.351737 -1.358891  0.070032 -0.723175
50%    0.610015 -0.271414  0.359107 -0.152210
75%    1.332333  0.539195  0.920379  0.318153
max    1.752253  1.510665  1.131091  1.535374

In [ ]:
# 통계적 개요 : 개수, 평균, 표준편차, 최댓값/최솟값

In [8]:
df.sort_values(by='a')

                   a         b         c         d
2022-10-21 -1.623308  1.510665  1.131091  1.535374
2022-10-19 -0.479214 -1.074528  0.341792 -0.826257
2022-10-18  0.030693 -1.597041  1.101697 -0.880073
2022-10-20  1.189338  0.531700 -0.020555  0.387701
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-16  1.752253 -1.453679 -0.801321  0.109509

In [ ]:
# 'a' 값을 기준으로 오름차순 정렬

In [9]:
df.sort_values(by='a', ascending=False)

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-20  1.189338  0.531700 -0.020555  0.387701
2022-10-18  0.030693 -1.597041  1.101697 -0.880073
2022-10-19 -0.479214 -1.074528  0.341792 -0.826257
2022-10-21 -1.623308  1.510665  1.131091  1.535374

In [ ]:
# 'a' 값을 기준으로 내림차순 정렬

In [ ]:
# dataFrame의 slice 기능, 범위 지정

In [10]:
df['a']

2022-10-16    1.752253
2022-10-17    1.379998
2022-10-18    0.030693
2022-10-19   -0.479214
2022-10-20    1.189338
2022-10-21   -1.623308
Freq: D, Name: a, dtype: float64

In [ ]:
# 'a' 범위의 값만 표출

In [11]:
df[0:3]

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-18  0.030693 -1.597041  1.101697 -0.880073

In [ ]:
# 3번째 index까지만 출력 (행기준)

In [12]:
df.loc['20221016']

a    1.752253
b   -1.453679
c   -0.801321
d    0.109509
Name: 2022-10-16 00:00:00, dtype: float64

In [ ]:
# 열기준으로 범위 선택

In [13]:
df.loc['20221016', ['a']]

a    1.752253
Name: 2022-10-16 00:00:00, dtype: float64

In [ ]:
# 여러가지 기준으로 범위 선택 : 행 열 순서로 범위 선택

In [14]:
df.loc['20221016', ['a','b']]

a    1.752253
b   -1.453679
Name: 2022-10-16 00:00:00, dtype: float64

In [ ]:
 #다수의 열 지정

In [15]:
df.loc['20221016':'20221018', ['a','b']]

                   a         b
2022-10-16  1.752253 -1.453679
2022-10-17  1.379998  0.541693
2022-10-18  0.030693 -1.597041

In [ ]:
# 다수의 행 지정

In [16]:
df.loc[:, ['a','b']]

                   a         b
2022-10-16  1.752253 -1.453679
2022-10-17  1.379998  0.541693
2022-10-18  0.030693 -1.597041
2022-10-19 -0.479214 -1.074528
2022-10-20  1.189338  0.531700
2022-10-21 -1.623308  1.510665

In [ ]:
# 전체 행 선택 / 열 범위 선택
# > df.loc : column or index 이름 사용

In [18]:
df.iloc[0:2]

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929

In [ ]:
#0,1 번째 행 범위 선택

In [20]:
df.iloc[0:2, 0:2]

                   a         b
2022-10-16  1.752253 -1.453679
2022-10-17  1.379998  0.541693

In [ ]:
# (0,1)행 (0,1)열 범위 선택

In [21]:
df.iloc[[0,1,3], 0:2]

                   a         b
2022-10-16  1.752253 -1.453679
2022-10-17  1.379998  0.541693
2022-10-19 -0.479214 -1.074528

In [ ]:
# 다수의 행과 열의 범위 선택

In [22]:
df.iloc[[0,1,3]]

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-19 -0.479214 -1.074528  0.341792 -0.826257

In [ ]:
# 다수의 열의 범위 선택
# > df.iloc  : 숫자만사용

In [ ]:
# DataFrame 내에서의 조건문 사용

In [23]:
df['a'] > 0

2022-10-16     True
2022-10-17     True
2022-10-18     True
2022-10-19    False
2022-10-20     True
2022-10-21    False
Freq: D, Name: a, dtype: bool

In [ ]:
# a 양수 : True/False

In [24]:
df[df['a']> 0]

                   a         b         c         d
2022-10-16  1.752253 -1.453679 -0.801321  0.109509
2022-10-17  1.379998  0.541693  0.376423 -0.413929
2022-10-18  0.030693 -1.597041  1.101697 -0.880073
2022-10-20  1.189338  0.531700 -0.020555  0.387701

In [ ]:
 # a 양수만 출력

In [25]:
df > 0

                a      b      c      d
2022-10-16   True  False  False   True
2022-10-17   True   True   True  False
2022-10-18   True  False   True  False
2022-10-19  False  False   True  False
2022-10-20   True   True  False   True
2022-10-21  False   True   True   True

In [ ]:
# 전체 양수 : True/False

In [26]:
df[df>0]

                   a         b         c         d
2022-10-16  1.752253       NaN       NaN  0.109509
2022-10-17  1.379998  0.541693  0.376423       NaN
2022-10-18  0.030693       NaN  1.101697       NaN
2022-10-19       NaN       NaN  0.341792       NaN
2022-10-20  1.189338  0.531700       NaN  0.387701
2022-10-21       NaN  1.510665  1.131091  1.535374

In [ ]:
# 전체 양수만 출력

In [ ]:
# 행과 열의 변경

In [28]:
df2 = pd.DataFrame(df, columns=['a','c', 'd', 'b'])
df2

                   a         c         d         b
2022-10-16  1.752253 -0.801321  0.109509 -1.453679
2022-10-17  1.379998  0.376423 -0.413929  0.541693
2022-10-18  0.030693  1.101697 -0.880073 -1.597041
2022-10-19 -0.479214  0.341792 -0.826257 -1.074528
2022-10-20  1.189338 -0.020555  0.387701  0.531700
2022-10-21 -1.623308  1.131091  1.535374  1.510665

In [ ]:
# column 위치 변경

In [29]:
df['e'] =np.nan

In [ ]:
# 'e' 열 추가

In [30]:
df.loc['20221020','e'] = 0.2

In [ ]:
# 해당 행, 열 값 지정

In [31]:
df['f'] = df['a'] + df['b']
df

                   a         b         c         d    e         f
2022-10-16  1.752253 -1.453679 -0.801321  0.109509  NaN  0.298575
2022-10-17  1.379998  0.541693  0.376423 -0.413929  NaN  1.921691
2022-10-18  0.030693 -1.597041  1.101697 -0.880073  NaN -1.566348
2022-10-19 -0.479214 -1.074528  0.341792 -0.826257  NaN -1.553742
2022-10-20  1.189338  0.531700 -0.020555  0.387701  0.2  1.721038
2022-10-21 -1.623308  1.510665  1.131091  1.535374  NaN -0.112643

In [ ]:
# f열 생성 및 값 지정(연산)